# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual Environments
.venv/
venv/
env/

# Test & coverage caches
.pytest_cache/
.coverage
htmlcov/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store
